<a href="https://colab.research.google.com/github/dedehamdani18220016/Dede/blob/master/DEDE_HAMDANI_18220016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dede Hamdani 18220016

In [0]:
#@title For
print('No.1', 'For')

n = 6
s = 0
for i in range (1, n):
    for j in range (0,s):
        print(' ', end=' ')
    s += 1
    for j in range(1,n):
        k = i-2 +j+1
        print(k+s-1, end=' ')
    for j in range(1,s):
        i += 1
    n -= 1
    print()

No.1 For
1 2 3 4 5
  3 4 5 6
    5 6 7
      7 8
        9

In [0]:
#@title While
print('No.2', 'While')

a = 5
i = 0

while i < 10:
  b = i
  while b > 0:
    print(end=' ')
    b -=2
  if( i % 2 == 0):
    c = i
    j = 1
    while j <= a:
      print(c, end=' ')
      if( i == 2 ):
          c += 2
      elif( i == 6):
          c += 2
      else:
          c += 1
      j += 1
    print()
    a -= 1
  i += 1

No.2 While
0 1 2 3 4
  2 4 6 8
    4 5 6
      6 8
        8

In [0]:
#@title Jumlah1
print('No.3', 'Jumlah1')

def jumlah(n):
  if n == 1:
    return 1
  else:
    return n + jumlah(n - 1)
  
  
print(jumlah(5))

No.3 Jumlah1
15

In [0]:
#@title Faktorial
print('No.3', 'Faktorial')

def faktorial(n):
  if n == 1:
    return 1
  else:
    return n * faktorial(n - 1)
  
  
print(faktorial(5))

No.3 Faktorial
120

In [0]:
#@title Pangkat
print('No.3', 'Pangkat')

def pangkat(n):
  if n == 1:
    return 2
  else:
    return 2 * pangkat(n - 1)
  
  
print(pangkat(5))

No.3 Pangkat
32

In [0]:
#@title Jumlah2
print('No.3', 'Jumlah2')

def jumlah2(n):
  if n == 1:
    return 1
  else:
    return jumlah(n - 1) + jumlah(n - 2)
  
  
print(jumlah2(6))

No.3 Jumlah2
25